<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PelMans-Kaif</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'menu' %}">Меню</a></li>
                <li><a href="{% url 'blog' %}">Блог</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>PelMans_King@mans.com</p>
        <p>&copy; 2024 PelMans-Kaif</p>
    </footer>
</body>
</html>
